<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; <a href="#">ruby on Rails tutorial</a> by <a href="#"> kent </a>
        </small>
            <nav>
                <ul>
                    <li><%= link_to 'About', about_path %></li>
                </ul>
            </nav>
    </footer>
</div>